@keyframes navpageheart{
    from {
    scale:0.95
    }
    to{
      scale: 1;

    }
}

.navpage{
   
    background-repeat:repeat;
    background-size:100px 100px;
    height: 100px;
  animation: navpageheart 2s infinite
}
.divpage{
    
   width: 110vw;
}

@media only screen and (max-width:735px){
  .navpage{
   
    height: 70px;
  
}  
}
@media only screen and (max-width:340px){
   
}
