.App {
  text-align: center;
  width: 100vw;
  overflow-x:hidden ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 height:100vh;
}

.title{
  font-size: 400%;
  color:rgb(180, 18, 67);
  font-family: 'Luckiest Guy', cursive;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width:750px){
  .title{
   font-size: 270%;
  }
   }
@media only screen and (max-width:550px){
  .text{
      font-size: smaller;
  }
  
  }
  @media only screen and (max-width:550px){
     .title{
      font-size: 250%;
     }
      }
      @media only screen and (max-width:470px){
        .title{
         font-size: 200%;
        }
         }
   @media only screen and (max-width:385px){
     .title{
      font-size: 150%;
     }
     }
     @media only screen and (max-width:290px){
      .title{
       font-size: 120%;
      }
      }
