.onediv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:90%;
    margin-top: 10px;
    color:white;
    border-bottom: 1px solid white;
}
.divall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90%;
    border-radius: 15px / 50px;
    background-color: rgb(202, 52, 77);
    border-top-left-radius: 80px 150px;
    border-bottom-right-radius: 80px 150px;
    padding:20px;
    border: black 10px double;
    margin-top: 5%;
}
.text{
    text-align: start;
    width:30%;
    overflow: scroll;
    padding:3%

}
.text::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .text{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .buttonupdate{
margin-left: 20px;
background-color:white;
text-decoration: none;
border:0px
  }
  .buttonupdate:hover{
    cursor:context-menu;
   scale:1.1
  }
  .div{width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center

}
.trash{
    scale:1.3
}
.trash:hover{
    scale:1.1
}
.animation{
    animation:move 2s ease-in-out
}
.animation2{
    animation:move2 1s ease-in-out
}
.sort{
    color: rgb(143, 24, 89);
    margin: 20px;

}
.sortone{
    color:rgb(143, 24, 89)
}
.sortone:hover{
    color:rgb(221, 98, 160);
    scale:1.2
}
.inputsearch{
    margin-right: 20px;
    color:rgb(143, 24, 89);
    border: 2px solid rgb(143, 24, 89)
}
.filtertoday{
margin: 20px;
background-color: pink;
color:rgb(143, 24, 89);
padding:20px;
animation:move 1s ease-in;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.filtertodayone{
  border-bottom: rgb(170, 1, 72);
  
}
.divtitleimage{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.image{
    width:100px;
    height:100px;
    margin-left:20px;
    margin-top:0px;
    color:rgb(170, 1, 72)
}
.imagep{
    font-size: x-small;
    width:70%;
    color:rgb(143, 24, 89);
   

}
.image:hover{scale:1.3}
@keyframes move{
    0%{
  
   transform:translateY(-80px)
    }
    50%{
       
        transform:translateY(40px)
    }
    100%{
        
        transform:translateY(0px)
    }
}
@keyframes move2{
    0%{
  
   transform:translateY(80px)
    }
    50%{
       
        transform:translateY(0px)
    }
    100%{
        
        transform:translateY(0px)
    }
}
.link{
    color:white;
    text-decoration: none;
    background-color:  rgb(170, 1, 72);
    margin-top: 10%;  
    padding: 10px;
    border-radius: 20px;
}
.link:hover{
    scale:1.2
}
.allcheckdata{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:pink;
    margin-top:20px;
    box-shadow:0px 0px 15px 5px rgb(143, 24, 89)
}
.checkdata{
    padding:5px;
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(202, 52, 77);
  color:white;
  border-bottom:1px solid rgb(26, 25, 25);
  width:100%
}
.checkname{
    font-family: 'Rowdies', cursive;
    width:30%;
    text-align: start;


}
.checkdate{
    font-family: 'Rowdies', cursive;
    width:30%;
    text-align: end;
}
.checknodiv{
  margin-top: 20px;  
  background-color:rgb(202, 52, 77);
  color:white;
  border:1px solid rgb(240, 236, 236);
  padding:10px;
  font-size: x-large;
  border-radius: 20px;
} 
.closecheckbutton{
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(202, 52, 77);
    font-size: xx-large;
    border:0px;
    background-color:inherit;

}
.closecheckbutton:hover{
    color:white;
}
.filterdiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:800px){

    .checkdate, .checkname{
        font-size: small;
        width:45%
    }
    .closecheckbutton{
      
        font-size: x-large;
      
    
    }

}
@media only screen and (max-width:550px){
.text{
    font-size: smaller;
}
.image{
   width:50px;
   margin-top: -10px;
   margin-left: -10px;
}
.imagep{
    margin-top:-25px;
    margin-left: -15px;
}

}
@media only screen and (max-width:480px){

    .checkdate, .checkname{
        font-size: x-small;
        width:50%
    }
    .text{
        font-size: x-small;
    }
    .buttonupdate{
        font-size: x-small;
          }
          .checknodiv{font-size:medium}

          .closecheckbutton{   
            font-size: large;
        
        }    
    }
 @media only screen and (max-width:385px){
    .checknodiv{font-size:small}
    .text{
    font-size: xx-small;
    }
    .buttonupdate{
        font-size: xx-small;
          }
          .divall{
           
           
            border-top-left-radius: 40px 100px;
            border-bottom-right-radius: 40px 100px;
          
        }
        .image{
            margin-top: 2px;
        }
        
   }
 @media only screen and (max-width:360px){
     .text{
     font-size: 40%;
    }

}
@media only screen and (max-width:300px){
    .checkdate, .checkname{
        font-size: xx-small;
        width:50%
    }
    .text{
        font-size:5%;
    }
    .buttonupdate{
        font-size: 5%;
          }
    }

             
        